ofbiz {
    home = "/Users/ebowman/tomtom/dps/ofbiz"
}

nexus {
    searchUrl = "http://nlsrvup-nex01:8082/nexus/service/local/lucene/search?"
    deployUrl = "http://nlsrvup-nex01:8082/nexus/content/repositories/thirdparty"
    repositoryUrl = "http://nlsrvup-nex01:8082/nexus/content/groups/public"
    repositoryId = "central"
    includeRepositories = false
}
